<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-12">
    <h3>Name</h3>
    <div><%= @board.name %></div>
    <h3>Email</h3>
    <div><%= @board.email %></div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-12 no-wrap">
    <%= turbo_frame_tag 'cell_list' do %>
      <%= render partial: 'cells', locals: { cell_indexes: @indexes } %>
    <% end %>
  </div>
  <div class="col-12">
    <%= turbo_frame_tag "load_more", loading: 'lazy', src: board_path(@board, page: @page + 1, format: "turbo_stream") %>
  </div>
</div>

<br>
<br>
<div>
  <%= link_to "Back to boards", boards_path %>
</div>
